<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{siteTitle}}</title>
    <meta name="description" content="{{siteDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="title" content="{{siteTitle}}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook -->
    <meta property="og:title" content="{{siteTitle}}">
    <meta property="og:url" content="{{siteUrl}}">
    <meta property="og:description" content="{{siteDescription}}">
    <meta property="og:image" content="{{siteImage}}">
    <meta property="og:type" content="video_lecture">
    <meta property="og:site_name" content="{{appName}}">
    <meta property="og:locale" content="{{locale}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="{{siteDomain}}">
    <meta name="twitter:title" content="{{siteTitle}}">
    <meta name="twitter:url" content="{{siteUrl}}">
    <meta name="twitter:description" content="{{siteDescription}}">
    <meta name="twitter:image" content="{{siteImage}}">
    <meta name="twitter:site" content="@yoet92">
    <!-- Search -->
    <meta itemprop="name" content="{{siteTitle}}">
    <meta itemprop="url" content="{{siteUrl}}">
    <meta itemprop="description" content="{{siteDescription}}">
    <meta itemprop="image" content="{{siteImage}}">
    <!-- Icons -->
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <!-- styles -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{{body}}}
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
